<ion-card-content class="status"
                  [ngClass]="this.task.tasks.length === this.validCounts ? 'status--completed' : (this.validCounts != 0? 'status--started':'') ">
    <ion-list lines="none">
        <ion-item>
            <ion-label text-wrap>{{task.title}}</ion-label>
        </ion-item>
    </ion-list>
    <div class="task-card light-border" *ngFor="let task of task.tasks">
        <check-task (validatorEvent)="receiveValidatorEvent($event)" *ngIf="task._type == 'CheckTask'"
                    [task]="task"></check-task>
        <counter-task (validatorEvent)="receiveValidatorEvent($event)" *ngIf="task._type == 'CounterTask'"
                      [task]="task"></counter-task>
        <distance-task (validatorEvent)="receiveValidatorEvent($event)" *ngIf="task._type == 'DistanceTask'"
                       [task]="task"></distance-task>
        <timer-task (validatorEvent)="receiveValidatorEvent($event)" *ngIf="task._type == 'TimerTask'"
                    [task]="task"></timer-task>
        <distance-timer-task (validatorEvent)="receiveValidatorEvent($event)" *ngIf="task._type == 'DistanceTimerTask'"
                             [task]="task"></distance-timer-task>
    </div>
</ion-card-content>
