<ion-app>
    <ion-split-pane>
        <ion-menu *ngIf="showNav">
            <ion-header>
                <ion-toolbar color="primary">
                    <img src="/assets/dlrg.svg" style="float: left; max-height: 35px">
                    <ion-title style="line-height: 30px;">
                        Ausbilder
                    </ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list *ngFor="let p of appPages">
                    <ion-list-header>
                        <ion-label>{{ p.title}}</ion-label>
                    </ion-list-header>
                    <ion-menu-toggle auto-hide="false" *ngFor="let item of p.items">
                        <ion-item [routerDirection]="'root'" [routerLink]="[item.url]">
                            <ion-icon slot="start" [name]="item.icon"></ion-icon>
                            <ion-label>
                                {{item.title}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>
