<ion-card-content class="status" [ngClass]="count === task.counts ? 'status--completed' : 'status--running'">
    <ion-list lines="none">
        <ion-item>
            <ion-label text-wrap>{{task.title}}</ion-label>
        </ion-item>
    </ion-list>
    <ion-row align-items-center>
        <ion-col>
            <ion-button color="tertiary" [disabled]="count === task.counts" (click)="this.countUp()">
                <ion-icon name="add"></ion-icon>
            </ion-button>
        </ion-col>
        <ion-col style="text-align: center">
            <ion-label text-wrap>
                <h1>
                    {{ count }} / {{ task.counts }}
                </h1>
            </ion-label>
        </ion-col>
        <ion-col style="text-align: right">
            <ion-button color="danger" [disabled]="count === 0" (click)="countDown()">
                <ion-icon name="remove"></ion-icon>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-card-content>
