<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Gruppe bearbeiten
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding color="light">
    <ion-fab (click)="updateTeam()" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button [disabled]="team.name == ''">
            <ion-icon name="save"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-card class="white-card">
        <ion-card-header>
            <ion-card-title>Gruppe bearbeiten</ion-card-title>
        </ion-card-header>
        <ion-list color="light">
            <ion-list-header>
                <ion-label>Angaben zur Gruppe</ion-label>
            </ion-list-header>
            <ion-item>
                <ion-icon slot="start" color="medium" name="create"></ion-icon>
                <ion-input required [(ngModel)]="team.name" placeholder="Name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-icon slot="start" color="medium" name="pin"></ion-icon>
                <ion-input [(ngModel)]="team.location" placeholder="Ort"></ion-input>
            </ion-item>
            <ion-item lines="none">
                <ion-icon slot="start" color="medium" name="trophy"></ion-icon>
                <ion-label>Zielabzeichen</ion-label>
                <ion-select required [(ngModel)]="team.goal" [interfaceOptions]="selectGoalActionSheetOptions"
                            interface="action-sheet" placeholder="Bitte wählen">
                    <ion-select-option value="0">Freies Training</ion-select-option>
                    <ion-select-option [value]="badge.id"
                                       *ngFor="let badge of badges">{{badge.title}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </ion-card>
    <ion-card class="white-card">
        <ion-card-header>
            <ion-card-title>Teilnehmer hinzufügen</ion-card-title>
        </ion-card-header>
        <ion-list color="light">
            <ion-list-header>
                <ion-label>Person erstellen</ion-label>
            </ion-list-header>
            <ion-item lines="none">
                <ion-icon slot="start" color="medium" name="contact"></ion-icon>
                <ion-input required [(ngModel)]="newAttendee.firstName" placeholder="Vorname"></ion-input>
            </ion-item>
            <ion-item>
                <ion-icon slot="start" color="medium" name=""></ion-icon>
                <ion-input required [(ngModel)]="newAttendee.lastName" placeholder="Nachname"></ion-input>
            </ion-item>
            <ion-item>
                <ion-icon slot="start" color="medium" name="calendar"></ion-icon>
                <ion-datetime [(ngModel)]="newAttendee.lastRefresh" placeholder="Geburtsdatum" class="fixed-datetime"
                              display-format="DD.MM.YYYY"></ion-datetime>
            </ion-item>
            <ion-item lines="none">
                <ion-icon slot="start" color="medium" name="trophy"></ion-icon>
                <ion-label>Abzeichen</ion-label>
                <ion-select required [(ngModel)]="newAttendee.badge" [interfaceOptions]="selectBadgeActionSheetOptions"
                            interface="action-sheet" placeholder="Bitte wählen">
                    <ion-select-option [value]="badge.id"
                                       *ngFor="let badge of badges">{{badge.title}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
        <ion-card-content style="text-align: right">
            <ion-button (click)="createAttendee()"
                        [disabled]="newAttendee.badge == '' || newAttendee.lastName == '' || newAttendee.firstName == ''"
                        color="primary" style="">
                <ion-icon name="create"></ion-icon>
                <ion-ripple-effect></ion-ripple-effect>
                Hinzufügen
            </ion-button>
        </ion-card-content>
    </ion-card>
    <ion-card class="white-card" *ngIf="team != null">
        <ion-card-header>
            <ion-card-title>Teilnehmerliste</ion-card-title>
        </ion-card-header>
        <ion-list color="light" lines="none" *ngIf="team.attendees.length != 0">
            <ion-item *ngFor="let attendee of team.attendees">
                <ion-icon slot="start" color="medium" name="contact"></ion-icon>
                <ion-label>{{ attendee.firstName}} {{ attendee.lastName}}</ion-label>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>
